<div class="section section-basic">
    <div class="container">
      <h2 class="title" *ngIf="isDesktopDevice" >Turkish Airlines Statistics</h2>
      <h3 class="title text-center" *ngIf="!isDesktopDevice" >Turkish Airlines Statistics</h3>

      <h4 style="margin-top: 10%;">Passengers per year</h4>

      <ngx-charts-bar-vertical *ngIf="isDesktopDevice"
      [view]="[1000,400]"
      [results]="saleData"
      [xAxisLabel]="'Year'"
      [legendTitle]="'Passengers per year'"
      [yAxisLabel]="'Passengers'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
     </ngx-charts-bar-vertical>

     <ngx-charts-bar-vertical *ngIf="!isDesktopDevice"
      [view]="[350,300]"
      [results]="saleData"
      [xAxisLabel]="'Year'"
      [legendTitle]="'Passengers per year'"
      [yAxisLabel]="'Passengers'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
     </ngx-charts-bar-vertical>

     <h4>Flights per year</h4>

      <ngx-charts-bar-horizontal *ngIf="isDesktopDevice"
      [view]="[1000,400]"
      [results]="flightData"
      [xAxisLabel]="'Flights'"
      [legendTitle]="'Flights per year'"
      [yAxisLabel]="'Year'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
     </ngx-charts-bar-horizontal>

     <ngx-charts-bar-horizontal *ngIf="!isDesktopDevice"
      [view]="[350,300]"
      [results]="flightData"
      [xAxisLabel]="'Flights'"
      [legendTitle]="'Flights per year'"
      [yAxisLabel]="'Year'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
     </ngx-charts-bar-horizontal>

     </div>
</div>
