<div class="wrapper">
  <div class="page-header clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/HomePageCover.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <h1 class="h1-seo" style="color: black;"> <b>Welcome to Turkish Airlines</b></h1>
              <h3 style="color: black;"><b>We fly to more countries than any other airline</b></h3>
          </div>
          
      </div>
  </div>

  <div class="main">
      <br> <br>
      <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>
      
      <app-typography></app-typography>
      
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Designed by Omar Ahmetović
          </div>
      </div>
  </footer>
</div>
