<div class="wrapper">
  <div class="page-header clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/HomePageCover.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <h1 *ngIf="isDesktopDevice" class="h1-seo" style="color: black;"> <b>Welcome to Turkish Airlines</b></h1>
              <h3 *ngIf="isDesktopDevice" style="color: black;"><b>We fly to more countries than any other airline</b></h3>

              <h2 *ngIf="!isDesktopDevice" class="h1-seo" style="color: black;"> <b>Welcome to Turkish Airlines</b></h2>
              <h4 *ngIf="!isDesktopDevice" style="color: black;"><b>We fly to more countries than any other airline</b></h4>
          </div>
          
      </div>
  </div>

  <div class="main" style="overflow-x: hidden;">
      <br> <br>
      <app-basicelements></app-basicelements>
      
     
      
  </div>
  
</div>
