<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" style="background-color: #c70a0c;" color-on-scroll="500">
    <div class="container">
      
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
                <img [ngClass]="isDesktopDevice ? 'desktop': 'mobile'" src="assets/img/apple-icon.svg.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span style="background-color: black;" class="navbar-toggler-bar bar1"></span>
                <span style="background-color: black;" class="navbar-toggler-bar bar2"></span>
                <span style="background-color: black;" class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/fleet']">
                      <h5 style="color: black;"><b>Fleet</b></h5>
                  </a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/lounges']">
                    <h5 style="color: black;"><b>Lounges</b></h5>
                </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://www.facebook.com/turkishairlinesBiH" target="_blank">
                    <i style="color: black;" class="fab fa-facebook-square"></i>
                    <p style="color: black;" class="d-lg-none d-xl-none"><b>Facebook</b></p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://www.instagram.com/turkishairlines/" target="_blank">
                    <i style="color: black;" class="fab fa-instagram"></i>
                    <p style="color: black;" class="d-lg-none d-xl-none"><b>Instagram</b></p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
