<div class="wrapper">
    <div class="page-header clear-filter">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/LoungesPageCover.jpg');">
  
      </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo" style="color: black;"> <b>Turkish Airlines</b></h1>
                <h3 style="color: black;"><b>Lounges</b></h3>
            </div>
            
        </div>
    </div>
  
    <div class="main" style="overflow-x: hidden;">
        <br> <br>

        <br> <br>
        <table class="table table-bordered scroll table-sm">

            <tr class="w-auto" style="color: white; background-color: #c70a0c;">
              <th>Airport Code</th>
              <th>Name of Lounge</th>
              <th>Location</th>
            </tr>

            <tr class="w-auto">
                <td>IST</td>
                <td>SkyTeam Lounge</td>
                <td>Airside, west wing, Level H</td>
            </tr>

            <tr class="w-auto">
                <td>IST</td>
                <td>Istanbul Domestic Lounge</td>
                <td>Domestic Terminal, Airside (Star Alliance)</td>
            </tr>

            <tr class="w-auto">
                <td>IST</td>
                <td>Turkish Airlines Lounge Business</td>
                <td>International Terminal, Airside, Departure level (Star Alliance)</td>
            </tr>

            <tr class="w-auto">
                <td>IST</td>
                <td>Turkish Airlines Lounge MilesandSmiles</td>
                <td>Mezzanine Floor (Star Alliance)</td>
            </tr>
  
          </table>

        <br> <br> <br>
        
    </div>
  </div>
  
