<div class="wrapper">
    <div class="page-header clear-filter">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/FleetPageCover.jpg');">
  
      </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo" style="color: black;"> <b>Turkish Airlines</b></h1>
                <h3 style="color: black;"><b>Fleet</b></h3>
            </div>
            
        </div>
    </div>
  
    <div class="main" style="overflow-x: hidden;">
        <br> <br>
        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4 desktop': 'col-12 mt-4 center'" src="/assets/img/AirbusA319.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Airbus A319</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 6</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4 desktop': 'col-12 mt-4 center'" src="/assets/img/AirbusA320.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Airbus A320</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 18</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4 desktop': 'col-12 mt-4 center'" src="/assets/img/AirbusA320neo.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Airbus A320neo</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 4</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4 desktop': 'col-12 mt-4 center'" src="/assets/img/AirbusA321.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Airbus A321</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 72</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/AirbusA321neo.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Airbus A321neo</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 52</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/AirbusA330-200.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Airbus A330-200</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 13</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/AirbusA330-300.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Airbus A330-300</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 36</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/AirbusA350-900.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Airbus A350-900</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 14</h6>
                 <h6>Ordered: 12</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/Boeing737-800.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Boeing 737-800</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 85</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/Boeing737-900ER.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Boeing 737-900ER</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 15</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/Boeing737MAX8.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Boeing 737 MAX 8</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 30</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/Boeing737MAX9.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Boeing 737 MAX 9</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 5</h6>
                 <h6>Ordered: —</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/Boeing787-9.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Boeing 787-9 Dreamliner</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 18</h6>
                 <h6>Ordered: 7</h6>
                </div>
        </div>

        <div class="row mt-4">
            <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mt-4 center'" src="/assets/img/Boeing777-300er.jpg">
            
                <h4 [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'"><b>Boeing 777-300ER</b></h4>
    
                <div [ngClass]="isDesktopDevice ? 'col-3': 'col-12 center'">
                 <h4><b>Details:</b></h4>
                 <h6>In Service: 33</h6>
                 <h6>Ordered: 1</h6>
                </div>
        </div>

        <br> <br> <br>
        
    </div>
  </div>
  
